.heading{
    color: blue;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn{
    outline: none;
    background: none;
    border: none;
    color:white;
    font-weight: 600;
    background-color: red;
    padding: 0.8rem;
    margin: 0.9rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

.btn:hover{
    background-color: blue;
}